<h1>Dojo Dashboard</h1>

<table>
  <tr>
    <th>Coding Dojo Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
  </tr>
  <% @dojos.each do |dojo| %>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
    <td>CA</td>
  </tr>
  {% end %}
</table>
